.idea/libraries/Gradle__com_github_jasonamark_emojione_1_0_0.xml
conversion/conversion.iml
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
local.properties
